{{ $id := .Get "id" | default (.Get 0) }}
{{ $id = trim $id " \n" }}
{{ if findRE "youtu" $id }}
  {{ $url := $id }}
  {{ if findRE "youtu\\.be/" $url }}
    {{ $id = index (split $url "youtu.be/") 1 }}
  {{ else if findRE "youtube\\.com/watch" $url }}
    {{ $id = index (split (index (split $url "v=") 1) "&") 0 }}
  {{ else if findRE "youtube\\.com/embed/" $url }}
    {{ $id = index (split $url "embed/") 1 }}
  {{ end }}
  {{ $id = trim $id " ?&" }}
{{ end }}
{{ if $id }}
<div class="youtube-embed-wrapper" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; margin: 1rem 0; border-radius: var(--radius-lg, 8px);">
  <iframe src="https://www.youtube-nocookie.com/embed/{{ $id }}?rel=0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen title="YouTube video"></iframe>
</div>
{{ end }}
